.login
  -# %h1 ConcertWire
  .container
    #logo
      %img{:src => asset_url('logo-white.png')}
    %h3 ConcertWire creates a personalized Spotify playlist based on your musical interests and upcoming concerts in your city.


  %a.btn.spotify-button{:href => @spotify_auth_url} Get Started
