#email.container.card
  .card-body
    #email-header.row
      #email-logo.col-md-8
        %img{:src => asset_url('logo.png')}
      .col-md-4.text-center
        %a.btn.btn-success.pull-right{:href => @playlist_url, :target => "_blank"} Listen on Spotify
    .row
      %h2.col-md-12 This Week
    .row
      - @this_week.each do |event|
        .col-md-12
          = render 'partials/artist-block', :event => event
    .row
      %h2.col-md-12 Recently Added
    .row
      - @new_additions.each do |event|
        .col-md-12
          = render 'partials/artist-block', :event => event

    .row
      %h2.col-md-12
        %span Popular Concerts in
        %span= @city
    .row
      - @popular.each do |event|
        .col-md-12
          = render 'partials/artist-block', :event => event
