.container.card
  .card-body
    -# %a.btn.btn-success.pull-right{:href => @playlist_url, :target => "_blank"} Open Playlist
    .row
      %h2.col-md-8 This Week
    .row
      - @this_week.each do |event|
        .col-md-6
          = render 'partials/artist-block', :event => event
    .row
      %h2.col-md-8 Recently Added
    .row
      - @new_additions.each do |event|
        .col-md-6
          = render 'partials/artist-block', :event => event

    .row
      %h2.col-md-8
        %span Popular Concerts in
        %span= @city
    .row
      - @new_additions.each do |event|
        .col-md-6
          = render 'partials/artist-block', :event => event
