.container.card
  .card-body.text-center
    %select.form-control#metro-area
      %option{:default => ""} Choose a City
      %optgroup{:label => "Alabama"}
        %option{:value => "Birmingham, AL"} Birmingham
        %option{:value => "Mobile, AL"} Mobile
      %optgroup{:label => "Arkansas"}
        %option{:value => "Little Rock, AR"} Little Rock
      %optgroup{:label => "Arizona"}
        %option{:value => "Flagstaff, AZ"} Flagstaff
        %option{:value => "Phoenix, AZ"} Phoenix
        %option{:value => "Tempe, AZ"} Tempe
      %optgroup{:label => "California"}
        %option{:value => "Los Angeles, CA"} Los Angeles
        %option{:value => "San Diego, CA"} San Diego
        %option{:value => "San Francisco, CA"} San Francisco
        %option{:value => "Santa Cruz, CA"} Santa Cruz
      %optgroup{:label => "Colorado"}
        %option{:value => "Colorado Springs, CO"} Colorado Springs
        %option{:value => "Denver, CO"} Denver
        %option{:value => "Fort Collins, CO"} Fort Collins
        %option{:value => "Grand Junction, CO"} Grand Junction
      %optgroup{:label => "Connecticut"}
        %option{:value => "Hamden, CT"} Hamden
      %optgroup{:label => "District of Columbia"}
        %option{:value => "Washington, DC"} Washington, DC
      %optgroup{:label => "Florida"}
        %option{:value => "Fort Lauderdale, FL"} Fort Lauderdale
        %option{:value => "Fort Myers, FL"} Fort Myers
        %option{:value => "Gainesville, FL"} Gainesville
        %option{:value => "Jacksonville, FL"} Jacksonville
        %option{:value => "Miami, FL"} Miami
        %option{:value => "Orlando, FL"} Orlando
        %option{:value => "Pensacola, FL"} Pensacola
        %option{:value => "St. Petersburg, FL"} St. Petersburg
        %option{:value => "Tallahassee, FL"} Tallahassee
        %option{:value => "West Palm Beach, FL"} West Palm Beach
      %optgroup{:label => "Georgia"}
        %option{:value => "Athens, GA"} Athens
        %option{:value => "Atlanta, GA"} Atlanta
        %option{:value => "Savannah, GA"} Savannah
      %optgroup{:label => "Iowa"}
        %option{:value => "Davenport, IA"} Davenport
      %optgroup{:label => "Idaho"}
        %option{:value => "Boise, ID"} Boise
        %optgroup{:label => "Illinois"}
        %option{:value => "Bloomington, IL"} Bloomington
        %option{:value => "Chicago, IL"} Chicago
      %optgroup{:label => "Indiana"}
        %option{:value => "Indianapolis, IN"} Indianapolis
      %optgroup{:label => "Kansas"}
        %option{:value => "Lawrence, KS"} Lawrence
        %option{:value => "Wichita, KS"} Wichita
      %optgroup{:label => "Kentucky"}
        %option{:value => "Bowling  Green, KY"} Bowling  Green
        %option{:value => "Lexington, KY"} Lexington
        %option{:value => "Louisville, KY"} Louisville
      %optgroup{:label => "Louisiana"}
        %option{:value => "New Orleans, LA"} New Orleans
      %optgroup{:label => "Massachusetts"}
        %option{:value => "Boston, MA"} Boston
      %optgroup{:label => "Maryland"}
        %option{:value => "Baltimore, MD"} Baltimore
        %option{:value => "Portland, ME"} Portland
      %optgroup{:label => "Michigan"}
        %option{:value => "Ann Arbor, MI"} Ann Arbor
        %option{:value => "Detroit, MI"} Detroit
        %option{:value => "Grand Rapids, MI"} Grand Rapids
        %option{:value => "Kalamazoo, MI"} Kalamazoo
      %optgroup{:label => "Minnesota"}
        %option{:value => "Duluth, MN"} Duluth
        %option{:value => "Minneapolis, MN"} Minneapolis
      %optgroup{:label => "Missouri"}
        %option{:value => "Columbia, MO"} Columbia
        %option{:value => "Kansas City, MO"} Kansas City
        %option{:value => "Springfield, MO"} Springfield
        %option{:value => "St. Louis, MO"} St. Louis
      %optgroup{:label => "Mississippi"}
        %option{:value => "Hattiesburg, MS"} Hattiesburg
        %option{:value => "Oxford, MS"} Oxford
      %optgroup{:label => "Montana"}
        %option{:value => "Missoula, MT"} Missoula
      %optgroup{:label => "North Carolina"}
        %option{:value => "Asheville, NC"} Asheville
        %option{:value => "Charlotte, NC"} Charlotte
        %option{:value => "Durham, NC"} Durham
        %option{:value => "Winston-Salem, NC"} Winston-Salem
      %optgroup{:label => "North Dakota"}
        %option{:value => "Fargo, ND"} Fargo
      %optgroup{:label => "Nebraska"}
        %option{:value => "Omaha, NE"} Omaha
      %optgroup{:label => "New Hampshire"}
        %option{:value => "Manchester, NH"} Manchester
      %optgroup{:label => "New Mexico"}
        %option{:value => "Albuquerque, NM"} Albuquerque
      %optgroup{:label => "New York"}
        %option{:value => "Albany, NY"} Albany
        %option{:value => "Buffalo, NY"} Buffalo
        %option{:value => "New York, NY"} New York
        %option{:value => "Rochester, NY"} Rochester
      %optgroup{:label => "Ohio"}
        %option{:value => "Akron, OH"} Akron
        %option{:value => "Cincinnati, OH"} Cincinnati
        %option{:value => "Cleveland, OH"} Cleveland
        %option{:value => "Columbus, OH"} Columbus
        %option{:value => "Toledo, OH"} Toledo
      %optgroup{:label => "Oklahoma"}
        %option{:value => "Tulsa, OK"} Tulsa
      %optgroup{:label => "Oregon"}
        %option{:value => "Bend, OR"} Bend
        %option{:value => "Eugene, OR"} Eugene
        %option{:value => "Portland, OR"} Portland
        %option{:value => "Salem, OR"} Salem
      %optgroup{:label => "Pennsylvania"}
        %option{:value => "Lancaster, PA"} Lancaster
        %option{:value => "Philadelphia, PA"} Philadelphia
        %option{:value => "Pittsburgh, PA"} Pittsburgh
      %optgroup{:label => "Rhode Island"}
        %option{:value => "Providence, RI"} Providence
      %optgroup{:label => "South Carolina"}
        %option{:value => "Charleston, SC"} Charleston
      %optgroup{:label => "South Dakota"}
        %option{:value => "Pierre, SD"} Pierre
        %option{:value => "Sioux Falls, SD"} Sioux Falls
      %optgroup{:label => "Tennessee"}
        %option{:value => "Chattanooga, TN"} Chattanooga
        %option{:value => "Knoxville, TN"} Knoxville
        %option{:value => "Memphis, TN"} Memphis
        %option{:value => "Nashville, TN"} Nashville
      %optgroup{:label => "Texas"}
        %option{:value => "Arlington, TX"} Arlington
        %option{:value => "Austin, TX"} Austin
        %option{:value => "Corpus Christi, TX"} Corpus Christi
        %option{:value => "Dallas, TX"} Dallas
        %option{:value => "Fort Worth, TX"} Fort Worth
        %option{:value => "San Antonio, TX"} San Antonio
      %optgroup{:label => "Utah"}
        %option{:value => "Provo, UT"} Provo
        %option{:value => "Salt Lake City, UT"} Salt Lake City
      %optgroup{:label => "Virginia"}
        %option{:value => "Charlottesville, VA"} Charlottesville
        %option{:value => "Harrisonburg, VA"} Harrisonburg
        %option{:value => "Norfolk, VA"} Norfolk
        %option{:value => "Richmond, VA"} Richmond
        %option{:value => "Roanoke, VA"} Roanoke
      %optgroup{:label => "Vermont"}
        %option{:value => "Burlington, VT"} Burlington
      %optgroup{:label => "Washington"}
        %option{:value => "Bellingham, WA"} Bellingham
        %option{:value => "Olympia, WA"} Olympia
        %option{:value => "Seattle, WA"} Seattle
        %option{:value => "Spokane, WA"} Spokane
        %option{:value => "Tacoma, WA"} Tacoma
      %optgroup{:label => "Wisconsin"}
        %option{:value => "Madison, WI"} Madison
      %optgroup{:label => "West Virginia"}
        %option{:value => "Charleston, WV"} Charleston
        %option{:value => "Huntington, WV"} Huntington
      %optgroup{:label => "Wyoming"}
        %option{:value => "Cheyenne, WY"} Cheyenne

    %button.btn.btn-success#create-playlist-button Create Playlist
