@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 500px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

@font-face {
  font-family: "Permanent Marker";
  src: asset-data-url("fonts/PermanentMarker-Regular.ttf");
}

.container {
  margin-top:50px;
}

#background {
  background-image: asset-data-url('bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Permanent Marker';
  color: white;
  @include respond-to(medium-screens) { font-size: 8rem; }
  @include respond-to(wide-screens) { font-size: 8rem; }
}

h2 {
  font-family: 'Permanent Marker';
}

.login {
  font-family: 'Permanent Marker';
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.spotify-button {
  width: 350px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-radius: 40px;
  background-color: #1DB954;
  color: white;
}

.artist-event-block {
  text-align: left;
}
