@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 500px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

@font-face {
  font-family: "Permanent Marker";
  src: asset-data-url("fonts/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: asset-data-url("fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
  font-family: 'Source Sans Pro';
}

.container {
  margin-top:50px;
}

#background {
  background-image: asset-data-url('bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Permanent Marker';
  color: white;
  @include respond-to(medium-screens) { font-size: 8rem; }
  @include respond-to(wide-screens) { font-size: 8rem; }
}

.login {
  font-family: 'Permanent Marker';
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.spotify-button {
  width: 350px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-radius: 40px;
  background-color: #1DB954;
  color: white;
}

.artist-event-block {
  text-align: left;
}

h2 {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

h6 {
  color: gray;
  margin: 3px;
  font-size: 1rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.featuring {
    font-size: .9rem;
    margin-left: 10px;
}

.artist-event-block {
  margin-bottom: 30px;
  margin-top: 10px;
}

.artist-event-block a.btn {
  margin-top: 10px;
  font-weight: 0.75rem;
  font-weight: 500;
}
