@font-face {
  font-family: "Permanent Marker";
  src: asset-data-url("fonts/PermanentMarker-Regular.ttf");
}

.container {
  margin-top:50px;
}

#background {
  background-image: asset-data-url('bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Permanent Marker';
  font-size: 8rem;
  color: white;
}

h2 {
  font-family: 'Permanent Marker';
}

.login {
  font-family: 'Permanent Marker';
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.spotify-button {
  width: 350px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-radius: 40px;
  background-color: #1DB954;
  color: white;
}
